{% extends 'header.html' %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to Intelligent Virtual Career Advisor</h1>
    <p class="lead">Your AI-driven platform for career guidance and job market insights.</p>
    <hr class="my-4">
    <p>Explore features like skills assessment, job market analysis, resume tips, and personalized career recommendations.</p>
    <a class="btn btn-primary btn-lg" href="/job_market_analysis" role="button">Explore Job Market</a>
</div>
{% endblock %}